include ../../footer-menu/footer-menu.pug
include ../../social-links/social-links.pug
include ../../copyright/copyright.pug
include ../../logo/logo.pug
include ../../../bundles/form-element.bundle.pug

footer
    .footer__top
        .container
            .footer__left-bar
                .logo-group
                    img(class="logo-img" src="./images/logo/logo.png")
                    img(class="logo-text" src="./images/logo/TOXIN.svg")

                .footer__left-bar-info Бронирование номеров в лучшем отеле 2019 года по версии ассоциации «Отельные взгляды»

            +footer-menu()
            .footer__right-bar
                .footer__right-bar-title.h3 Подписка
                .footer__right-bar-info Получайте специальные предложения и новости сервиса
                +text-field({
                    type: 'text',
                    name: 'name label', 
                    placeholder: 'Email',
                    icon: true,
                }) 
    .copyright-bar
        .container
            +copyright()
            +social-links({
                items: [
                    {href:"#", icon_class:"fa-twitter"},
                    {href:"#", icon_class:"icon-img", icon_img:"./images/facebook-icon.svg"}, 
                    {href:"#", icon_class:"fa-instagram"},  
                ],
            })


    //- .footer-creative
    //-     .container
    //-         +logo()
    //-         +copyright()
    //-         +social-links({
    //-             items: [
    //-                 {href:"#", icon_class:"fa-twitter"},
    //-                 {href:"#", icon_class:"fa-facebook-square"}, 
    //-                 {href:"#", icon_class:"fa-instagram"}, 
    //-             ],
    //-         })