@import '../../../blocks/_common/scss/vars.scss';

.footer__top .container,
.copyright-bar .container {
    width: 720px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.footer-creative .container {
    width: 720px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.social-links {
    display: flex;
    justify-content: space-between;
}

.social-links__link i {
    font-size: 24px;
    line-height: 23px;
    display: flex;
    align-items: center;
    text-align: center; 
    background: $purpleGradient;
    background-clip: text;
    color: transparent;
}