@import '../_common/scss/vars.scss';

.button-link {
    position: relative;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 15px;
    text-transform: uppercase;
    text-align: center;
    color: $purple;
    cursor: pointer;

    &:hover {
        color: $darkShade50;
    }
}

.button-full {
    position: relative;
    display: inline-block;
    padding: 15px 20px;
    color: #fff;
    background: $purpleGradient;
    border-radius: 22px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 15px;
    text-transform: uppercase;
    text-align: center;
    cursor: pointer;

    &:hover {
        opacity: 0.5;
    }
}

.button-border {
    border: double 2px transparent;

    background-image: linear-gradient(white, white), $purpleGradient;
    background-origin: border-box;
    background-clip: padding-box, border-box;

    position: relative;
    display: inline-block;
    padding: 13px 18px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 15px;
    text-transform: uppercase;
    text-align: center;
    position: relative;
    color: $purple;
    border-radius: 22px;
    cursor: pointer;

    &:hover {
        background-image: linear-gradient(white, white), $purpleGradient25;
    }
}

.button-100 {
    width: 100%;
    position: relative;
    display: inline-block;
    padding: 15px 20px;
    color: #fff;
    background: $purpleGradient;
    border-radius: 22px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 15px;
    text-transform: uppercase;
    text-align: center;
    cursor: pointer;

    &:hover {
        opacity: 0.5;
    }
}

.button__icon {
    position: absolute;
    top: 10px;
    right: 10px;
    text-transform: none;
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 24px;
}