@import '../_common/scss/vars.scss';

//mixin text-field

.text-field {
    width: 100%;
    display: inline-block;
    position: relative;
}

.text-field__label {
    display: block;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 15px;
    text-transform: uppercase;
    color: $darkShade100;
}

.text-field__input {
    display: block;
    width: 100%;
    height: 44px;
    background: #fff;
    border: 1px solid $darkShade25;
    border-radius: 4px;
    padding: 13px 14px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    color: $darkShade75;
}

.text-field__input:hover,
.text-field__input:focus {
    border: 1px solid $darkShade50;
}

::placeholder {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 18px;
    color: $darkShade25;
}

.input__icon {
    position: absolute;
    top: 10px;
    right: 10px;
    text-transform: none;
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 24px;
    background: $purpleGradient;
    background-clip: text;
    color: transparent;
}
  
//------- end mixin text-field