@import '../_common/scss/vars.scss';

.checkbox {
  display: flex;
  padding: 5px 0;
  cursor: pointer;
}

.checkbox__label {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  color: $darkShade50;
  cursor: pointer;
}

.checkbox__title {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 18px;
  color:$darkShade75;
}

.checkbox__desc {
  font-size: 12px;
  line-height: 14px;
}

.checkbox__input {
  appearance: none;
  position: relative;
  width: 20px;
  min-width: 20px;
  height: 20px;
  border: 1px solid $darkShade25;
  border-radius: 4px;
  margin-right: 10px;
  cursor: pointer;
}

.checkbox__input:checked {
  border: 1px solid $purple;
}

.checkbox__input:checked::before {
  content: '';
  position: absolute;
  top: 8px;
  left: 4px;
  width: 6px;
  height: 3px;
  background: $purpleGradient;
  transform: rotate(45deg);
  transition: .2s;
}


.checkbox__input:checked::after {
  content: '';
  position: absolute;
  top: 7px;
  left: 6px;
  width: 8px;
  height: 3px;
  background: $purpleGradient;
  transform: rotate(135deg);
  transition: .2s;
}