@import '~air-datepicker/dist/css/datepicker.css';
@import '../_common/scss/vars.scss';

.datepickers-container {
    width: 320px;
    box-sizing: border-box;
}

.datepicker-inline {
    max-width: 320px;
    width: 100%;
    box-sizing: border-box;
    display: none;
    margin-top: 5px;
}

.datepicker-inline.active {
    display: block;
}

.datepicker,
.datepicker-inline .datepicker {
    width: 100%;
    background: #fff;
    border: 1px solid $darkShade25;
    box-sizing: border-box;
    box-shadow: 0px 10px 20px rgba(31, 32, 65, 0.05);
    border-radius: 4px;
}

.dropdown-calendar {
    display: flex;
    justify-content: space-between;
}

.dropdown-calendar__item {
    display: flex;
    flex-direction: column;
    position: relative;
    overflow: hidden;
    font-family: 'Montserrat';
    font-weight: normal;
    font-size: 14px;
    color: $darkShade75;
}

.dropdown-calendar__item--single-item {
    width: 100%;
}

.dropdown-calendar__item--single-item .date-start {
    width: 100%;
}

.dropdown-calendar__label {
    margin-bottom: 5px;
}

.date-end, .date-start {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: normal;
    line-height: 10px;
    font-size: 14px;
    color: $darkShade75;
    width: 150px;
    padding: 11px 14px 13px;
    border: 1px solid $darkShade25;
    box-sizing: border-box;
    border-radius: 4px;
    text-transform: lowercase;
}

.date-start::placeholder,
.date-end::placeholder {
    color: $darkShade25;
    text-transform: uppercase;
}

.dropdown-calendar__icon {
    position: absolute;
    top: 31px;
    right: 10px;
    text-transform: none;
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    // line-height: 24px;
    color: $darkShade50;
}

.datepicker--cell.datepicker--cell-day.-current- {
    max-width: 40px;
    width: calc(100%/7);
    height: 40px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 15px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #FFFFFF;
    background: $greenGradient;
    border-radius: 50%;
}

.datepicker--cell.datepicker--cell-day {
    max-width: 40px;
    width: calc(100%/7);
    height: 40px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 15px;
    display: flex;
    align-items: center;
    text-align: center;
}

.datepicker--cell.datepicker--cell-day.-range-from-.-selected-,
.datepicker--cell.datepicker--cell-day.-range-to-.-selected-,
.datepicker--cell.datepicker--cell-day.-focus- {
    max-width: 40px;
    width: calc(100%/7);
    height: 40px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 15px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #FFFFFF;
    background: $purpleGradient;
    border-radius: 50%;
}

.datepicker--cell.datepicker--cell-day.-range-from-.-selected-::after { 
    content: " ";
    position: absolute;
    z-index: -1;
    width: 20px;
    height: 40px;
    top: 0;
    left: 20px;
    background: linear-gradient(180deg, rgba(188,156,255,0.25) 0%, rgba(139,164,249,0.25) 100%);
}

.datepicker--cell.datepicker--cell-day.-range-to-.-selected-::before,
.datepicker--cell.datepicker--cell-day.-range-to-.-focus-::before { 
    content: " ";
    position: absolute;
    z-index: -1;
    width: 20px;
    height: 40px;
    top: 0;
    right: 20px;
    background: linear-gradient(180deg, rgba(188,156,255,0.25) 0%, rgba(139,164,249,0.25) 100%);
}


.datepicker--cell.datepicker--cell-day.-in-range- {
    background: linear-gradient(180deg, rgba(188,156,255,0.25) 0%, rgba(139,164,249,0.25) 100%);
}

.datepicker--cell.datepicker--cell-day.-focus- {
    background: $purpleGradient;
    border-radius: 50%;
    color: #FFFFFF;
}

.datepicker--nav-title {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: bold;
    font-size: 19px;
    line-height: 23px;
    text-align: center;
    color: #1F2041;
    border-radius: 0;
    margin-right: -1px;
    margin-top: -1px;
}

.datepicker--nav-action .material-icons {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 20px;
    display: flex;
    align-items: center;
    text-align: center;
    color: $purple;
}

.datepicker--days-names {
    justify-content: center;
    margin: 26px 0 0;
}
.datepicker--day-name {
    font-family: 'Montserrat';
    max-width: 40px;
    width: calc(100%/7);
    height: 40px;
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    display: flex;
    align-items: center;
    color: #bc9cff;
    text-transform: none;
    justify-content: center;
    flex: none;
}

.datepicker--nav {
    margin: 16px 11px 15px;
    border-bottom: none;
}

.datepicker--cells.datepicker--cells-days {
    justify-content: center;
}

.datepicker--buttons {
    margin: 13px 19px 11px;
    padding: 0;
    justify-content: space-between;
    border-top: none;
}

.datepicker--button,
.datepicker--btn  {
    display: flex;
    flex-grow: 0;
    align-items: center;
    margin-top: -2px;
}

.datepicker--button:hover {
    background: transparent;
}

.datepicker--cell.-range-to- {
    border: none;
}

.datepicker--cell.-selected- {
    background: $purpleGradient;
    border-radius: 50%;
    color: #FFFFFF;
}

.datepickers-container {
    position: absolute;
    top: -7px;
}

.datepicker--content {
    box-sizing: content-box;
    padding: 0;
    margin: 0 11px;
}
