@import '../../_common/scss/vars.scss';

.nav-bar,
.nav-bar--authorization {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 15px 0px;
}

.button-block .button-border {
    margin-right: 20px;
}

