include ../../menu/menu.pug
include ../../logo/logo.pug

header
    .container
        .nav-bar
            +logo()
            +nav().main-menu

        .nav-bar--authorization
            +logo()
            +nav().second-menu

            
                    
