include ../../menu/menu.pug

header
    .container
        .nav-bar
            .logo-group
                img(class="logo-img" src="./images/logo/logo.png")
                img(class="logo-text" src="./images/logo/TOXIN.svg")
            
            +nav().main-menu

        .nav-bar--authorization
            .logo-group
                img(class="logo-img" src="./images/logo/logo.png")
                img(class="logo-text" src="./images/logo/TOXIN.svg")
            
            +nav().second-menu

            
                    
