@import '../../_common/scss/vars.scss';
@import '~slick-carousel/slick/slick-theme.css';
@import '~slick-carousel/slick/slick.css';

.room-preview {
    display: flex;
    flex-direction: column;
    width: 270px;
    box-sizing: border-box;
    background: #FFFFFF;
    box-shadow: 0px 10px 20px rgba(31, 32, 65, 0.05);
    border-radius: 4px;
    overflow: hidden;
}

.room-preview__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 21px 0 9px;
    margin: 0 17px 0 20px;
    border-bottom: 1px solid rgba(31, 32, 65, 0.1);
}

.room-preview__number {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 17px;
    color: $darkShade100;
    margin-right: 4px;
}

.room-preview__number-item {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: bold;
    font-size: 19px;
    line-height: 17px;
    color: $darkShade100;
    margin-right: 8px;
}

.room-preview__number-category {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 15px;
    text-transform: uppercase;
    color: $purple;
}

.room-preview__number-price,
.room-preview__number-currency-type {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 18px;
    color: $darkShade50;
}

.room-preview__number-per-day {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 18px;
    color: $darkShade50;
    margin-left: 4px;
}

.room-preview__rating-group{
    display: flex;
    justify-content: space-between;
    padding: 8px 0 12px 0;
    margin: 0 20px;
}

.room-preview__rating-count {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 18px;
    color: $darkShade50;
}

.room-preview__rating-info {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 18px;
    color: $darkShade50;
    margin-left: 3px;
}
.room-preview__slider:hover .slide-next, .room-preview__slider:hover .slide-prev {
    display: block !important;
}