extends ../templates/main.pug
include ../bundles/authorization.bundle.pug

block variable
    - var title = 'Authorization';

block main
    section.authorization
        .container
            +authorization-form({
                title: 'Войти',
            })
    