//- extends ../templates/main.pug
include ../bundles/cards.bundle.pug

block variable
    - var title = 'Home page';

block main
    section
        .container.page-cards
            +pick-up-a-room({
                title: 'Найдём номера под ваши пожелания',
            })
            +check-in-form({
                title: 'Регистрация аккаунта',
            })
            +booking-form()
            +authorization-form({
                title: 'Войти',
            })
            +room-preview()



