//- extends ../templates/main.pug
include ../bundles/cards.bundle.pug

block variable
    - var title = 'Home page';

block main
    section
        .container.page-cards
            +pick-up-a-room({
                title: 'Найдём номера под ваши пожелания',
            })
            +check-in-form({
                title: 'Регистрация аккаунта',
            })
            +booking-form()
            +authorization-form({
                title: 'Войти',
            })
            +room-preview({
                number: 888,
                type: "люкс",
                price: 9990,
                currency: '₽',
                days: 'в сутки',
                current_rating: 5,
                scale: 5,
                number_of_ratings: 145,
                images: {
                            images: [
                                {src: './images/slider/room1.jpg'},
                                {src: './images/slider/room2.jpg'},
                                {src: './images/slider/room1.jpg'},
                                {src: './images/slider/room2.jpg'},
                            ]
                        },
            })



