@import '../_common/scss/vars.scss';
@import '../button/button.scss';


.dropdown-title {
    margin-bottom: 5px;
}

.dropdown-list {
    position: relative;
    width: 100%;
}

.dropdown__header {
    position: relative;
    width: 100%;
    padding: 9px 14px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    color: $darkShade75;
    box-sizing: border-box;
    border: 1px solid rgba(31,32,65,.25);
    border-radius: 4px;
}

.dropdown__item-title {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 10px;
    text-transform: uppercase;
    color: #1F2041;
    padding: 9px 0 12px 1px;
}

.dropdown__list-items {
    position: absolute;
    top: 43px;
    left: 0px;
    z-index: 2;
    width: 320px;
    border: 1px solid $darkShade25;
    box-sizing: border-box;
    border-radius: 0 0 4px 4px;
    padding: 0px 6px 0px 13px;
    background-color: #fff;
}

.dropdown__item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 6px;
}

.dropdown__icon {
    position: absolute;
    top: 9px;
    right: 9px;
    text-transform: none;
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    color: $darkShade50;
}

.input {
    width: 32px;
    height: 12px;
    margin-top: 7px;
    padding: 0;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 15px;
    text-align: center;
    text-transform: uppercase;
    color: #1F2041;
}

.dropdown__input-control {
    display: flex;
    margin-top: -1px;
}

.minus,
.plus {
    width: 30px;
    height: 30px;
    border: 1px solid $darkShade25;
    box-sizing: border-box;
    border-radius: 22px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    color: $darkShade50;
}
.minus:disabled,
.plus:disabled {
    border: 1px solid $darkShade25;
    opacity: 0.38;
}

.dropdown__header.show ~ .dropdown__list-items {
    display: block;
}

.dropdown__header ~ .dropdown__list-items {
    display: none;
}

.dropdown__button-block {
    padding-top: 18px;
    padding-bottom: 12px;
    display: none;
    justify-content: space-between;
}
.dropdown__button-block.open{
    display: flex;
}