include ../blocks/cards/pick-up-a-room/pick-up-a-room.pug
include ../blocks/cards/check-in-form/check-in-form.pug
include ../blocks/cards/booking-form/booking-form.pug
include ../blocks/cards/authorization-form/authorization-form.pug
include ../blocks/cards/room-preview/room-preview.pug


