include ../blocks/text-field/text-field.pug
include ../blocks/toggle/toggle.pug
include ../blocks/radio-buttons/radio-buttons.pug
include ../blocks/checkbox/checkbox.pug
include ../blocks/like-button/like-button.pug
include ../blocks/star-rating/star-rating.pug
include ../blocks/star-rating/star-rating-floating.pug
include ../blocks/button/button.pug
include ../blocks/range-slider/range-slider.pug
include ../blocks/pagination/pagination.pug